#countLable{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: sans-serif;
};

.btnContainer{
    text-align: center;
};

.buttons{
    padding: 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(44, 44, 234);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

};
.buttons:hover{
    background-color: rgb(5, 166, 166);
}