/* #btnContainer{
    text-align: center;
    
}

.buttons{
    padding: 10px 20px;
    background-color: rgb(0, 0, 105);
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    transition: background-color .5s;

}
.buttons:hover{
    background-color: rgb(112, 112, 220);
}


#countLabel{
    display: block;
    font-size: 10em;
    font-family: sans-serif;
    text-align: center;
    color: rgb(2, 2, 56)
    
};
 */

 body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
 }
 #myButton{
    font-size: 3em;
    padding: 5px 25px ;
    border-radius: 5px;


 }
 #Labels{
    font-size: 3em;
 }