#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: sans-serif;

}
#btnContainer{
    text-align: center;
};

.button{
    padding: 20px;
    font-size: 1.5em;
    background-color: rgb(35, 35, 111);
}
