#btnContainer{
    text-align: center;
    
}

.buttons{
    padding: 10px 20px;
    background-color: rgb(0, 0, 105);
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    transition: background-color .5s;

}
.buttons:hover{
    background-color: rgb(1, 1, 15);
}


#countLabel{
    display: block;
    font-size: 10em;
    font-family: sans-serif;
    text-align: center;
    
};

