
.buttons{
    padding: 10px 20px;
    font-size: .9em;
    color: white;
    background-color: rgb(100, 100, 237);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s;

}
.buttons:hover{
    background-color: rgb(17, 17, 42);
}


#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: sans-serif;

}
#btnContainer{
    text-align: center;
};

